<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>keyword</key>
    <string>d</string>
    <key>spaces</key>
    <false/>
    <key>text</key>
    <string>Search Dash for</string>
    <key>url</key>
    <string>dash://{query}</string>
    <key>utf8</key>
    <false/>
  </dict>
  <dict>
    <key>keyword</key>
    <string>rails</string>
    <key>spaces</key>
    <false/>
    <key>text</key>
    <string>Search Dash rails for</string>
    <key>url</key>
    <string>dash://rails:{query}</string>
    <key>utf8</key>
    <false/>
  </dict>
  <dict>
    <key>keyword</key>
    <string>ruby</string>
    <key>spaces</key>
    <false/>
    <key>text</key>
    <string>Search Dash ruby for</string>
    <key>url</key>
    <string>dash://ruby:{query}</string>
    <key>utf8</key>
    <false/>
  </dict>
  <dict>
    <key>keyword</key>
    <string>ios</string>
    <key>spaces</key>
    <false/>
    <key>text</key>
    <string>Search Dash iOS for</string>
    <key>url</key>
    <string>dash://ios:{query}</string>
    <key>utf8</key>
    <false/>
  </dict>
  <dict>
    <key>keyword</key>
    <string>osx</string>
    <key>spaces</key>
    <false/>
    <key>text</key>
    <string>Search Dash OSX for</string>
    <key>url</key>
    <string>dash://osx:{query}</string>
    <key>utf8</key>
    <false/>
  </dict>
  <dict>
    <key>keyword</key>
    <string>rails2</string>
    <key>spaces</key>
    <false/>
    <key>text</key>
    <string>Search Dash rails 2.3 for</string>
    <key>url</key>
    <string>dash://rails2:{query}</string>
    <key>utf8</key>
    <false/>
  </dict>
</array>
</plist>
