<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>action</key>
  <false/>
  <key>background</key>
  <true/>
  <key>category</key>
  <string>APPLESCRIPTS</string>
  <key>command</key>
  <string>property currentURL : ""
tell application "Safari" to set currentURL to URL of current tab of window 1
tell application "Google Chrome"
  activate
  if (exists window 1) and (URL of active tab of window 1 is "chrome://newtab/") then
    tell window 1 to set URL of active tab to currentURL
  else
    open location currentURL
  end if
end tell</string>
  <key>keyword</key>
  <string>flash</string>
  <key>subtitle</key>
  <string>Opens the current Safari url in Chrome</string>
  <key>title</key>
  <string>Open Safari URL in Chrome</string>
</dict>
</plist>
